.main_title {color: navy;
    font-family: "Anton", sans-serif;
    font-optical-sizing: auto;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}

.body_text {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.12px;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.chapter {color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.graph-full {
    max-width: 800px; 
    margin: 0 auto;
}