.main_title {color: navy;
    font-family: "Anton", sans-serif;
    font-optical-sizing: auto;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}

.body_text {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.12px;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.chapter {color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.graph-full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}


.reference {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 80;
    font-style: normal;
    margin-bottom: 10px;
}

.caption-title {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 80;
    font-style: normal;
}

.table-format {
    width: 250px;
    max-width: 100%;
    margin-left: auto;
    margin-right: 0;
    table-layout: fixed;
}

.map-container {
    height: 520px;
    overflow: hidden;
}